:root {
    --Tomato: hsl(4, 100%, 67%);
    --Dark_Slate_Grey: hsl(234, 29%, 20%);
    --Charcoal_Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.outside-container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--Dark_Slate_Grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inside-container {
    /* max-width: 700px; */
    display: flex;
    gap: 4rem;
    background-color: var(--White);
    padding: 20px;
    border-radius: 1rem;
}
#thank-you-card {
    display: none;
    background-color: var(--White);
    max-width: 350px;
    padding: 1.5rem;
    border-radius: 1rem;
}
#thank-you-card h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 10px 0;
}
#thank-you-card p:first-child {
    font-size: 1.5rem;
}
#thank-you-card .second {
    margin: 20px 0;
}
.text-container {
    max-width: 360px;
    color: var(--Charcoal_Grey);
}
.text-container h2 {
    margin-top: 1rem;
    padding: 10px 0;
    font-size: 2.5rem;
    font-weight: 700;
}
.text-container p {
    padding: 5px 0;
}
.bg-circle {
    background-color: var(--Tomato);
    color: var(--White);
    padding: 8px;
    margin: 5px 0;
    margin-right: 5px;
    border-radius: 100%;
}
.text-container ul {
    list-style-type: none;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
form label,
input,
button {
    display: block;
    width: 100%;
    border: none;
}
form input {
    border: 1px solid gray;
}

#dismiss-button {
    background-color: var(--Dark_Slate_Grey);
    color: var(--White);
    font-size: 14px;
    font-weight: bold;
    border: none;
}
form button:hover,
#dismiss-button:hover {
    background-color: var(--Tomato);
    /* color: var(--White); */
}
form input,
button {
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
form button {
    background-color: var(--Dark_Slate_Grey);
    color: var(--White);
    font-weight: bold;
    border: none;
}
.img-container img {
    width: 100%;
    height: 450px;
}

@media screen and (max-width: 768px) {
    .outside-container {
        display: block;
        min-height: 0%;
    }
    .inside-container {
        display: flex;
        gap: 0;
        flex-direction: column-reverse;
        padding: 0;
        border-radius: 0;
    }
    .text-container {
        margin: 0 auto;
        padding: 5px 10px;
    }
    .img-container img {
        height: auto;
    }

    #thank-you-card {
        background-color: var(--White);
        max-width: 100%;
        height: 100vh;
        padding: 1.5rem;
        border-radius: 1rem;
        font-size: 1.3rem;
    }
    .bg-circle1 {
        margin-top: 8rem;
        background-color: var(--Tomato);
        color: var(--White);
        padding: 15px;
        border-radius: 100%;
    }
    #dismiss-button {
        margin-top: 21rem;
    }
}
